body {
    background: #282828;
    color: #33FF33;
    font-family: 'IBM Plex Mono', monospace;
}

a {
    text-decoration: none;
    color: #33FF33;
    display: block;
    line-height: 5vh;
    border-top: .3vmin solid;
    width: 100%;
}

a:hover {
    color: #282828;
    background: #33FF33;
}

#navbar {
    width: 30%;
    border: .3vmin solid;
    text-align: center;
    position: fixed;
    overflow: auto;
}

#main-doc {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
}

header, h1 {
    color: #FFB000;
}

header {
    font-size: 5vmin;
}

h1 {
    font-size: 4vmin;
    font-weight: normal;
}

p {
    line-height: 5vmin;
    font-size: 2.5vmin;
}

code {
    font-size: 2.5vh;
    color: #66FF66;
}

@media (max-width: 800px) {
    #navbar {
        position: fixed;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border: none;
        border-bottom: .3vmin solid;
        background-color: #282828;
        max-height: 30%;
        min-height: 20%;
    }

    body {
        margin: 0;
        padding: 0;
    }

    #navbar a, header {
        border: none;
        height: 100%;
    }
    #main-doc {
        position: static;
        width: 100%;
        padding-top: 60%;
    }
}